---
import { t, changeLanguage } from "i18next";
import ShareButton from "../../components/ShareButton.astro";
import BaseLayout from "../../layout/BaseLayout.astro";
import SupportUsCard from "../../components/supportUsCard.astro";

changeLanguage("hi");
---

<BaseLayout title={t("ui.support_us")} description={t("support_us.description")} >
  <section class="text-gray-600 body-font">
    <div class="container lg:px-16 px-5 pt-16 pb-8 mx-auto">
      <div class="flex flex-col text-center w-full mb-8">
        <h1 class="text-4xl font-bold title-font text-gray-900 mb-3">
          ❤️ {t("support_us.support_weektodo")}
        </h1>
        <p class="lg:mx-32">{t("support_us.support_us_description")}</p>
      </div>
      <iframe id='kofiframe' src='https://ko-fi.com/weektodo/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:100%;padding:4px;' height='650' title='weektodo'></iframe>
    </div>
  </section>
</BaseLayout>

  <script is:inline>
    const el = document.getElementById("visa_payment").addEventListener("change", function (e) {
      switch (this.value) {
        case "5":
          window.open("https://tppay.me/l2tkmqsd");
          break;
        case "10":
          window.open("https://tppay.me/l2tknkiy");
          break;
        case "15":
          window.open("https://tppay.me/l2tkw5vv");
          break;
        case "20":
          window.open("https://tppay.me/l2tlea38");
          break;
        case "25":
          window.open("https://tppay.me/l2tleu0m");
          break;
        case "30":
          window.open("https://tppay.me/l2tlg1s5");
          break;
        case "50":
          window.open("https://tppay.me/l2tlgpm5");
          break;
        case "75":
          window.open("https://tppay.me/l2tlh5t2");
          break;
        case "100":
          window.open("https://tppay.me/l2tlhkjb");
          break;
      }
    });
  </script>
</option>
