---
import { t, changeLanguage } from "i18next";
import ShareButton from "../components/ShareButton.astro";
import BaseLayout from "../layout/BaseLayout.astro";
import SupportUsCard from "../components/supportUsCard.astro";

changeLanguage("en");
---

<BaseLayout title={t("ui.support_us")} description={t("support_us.description")} >
  <section class="text-gray-600 body-font">
    <div class="container lg:px-16 px-5 pt-16 pb-8 mx-auto">
      <div class="flex flex-col text-center w-full mb-8">
        <h1 class="text-4xl font-bold title-font text-gray-900 mb-3">
          ❤️ {t("support_us.support_weektodo")}
        </h1>
        <p class="lg:mx-32">{t("support_us.support_us_description")}</p>
      </div>

      <div class="flex flex-wrap -m-4 lg:px-16 my-6">
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg border-2 rounded-lg hover:bg-gray-100 border-gray-200 border-opacity-50 p-8 flex-col">
            <div class="flex items-center">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center flex-shrink-0">
                <img class="w-8 h-8" src="/img/creidt-card.svg" alt="credit card"/>
              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium w-full">
                <label for="underline_select" class="sr-only">Underline select</label>
                <select
                  id="visa_payment"
                  class="block cursor-pointer px-0 w-full bg-transparent border-0 appearance-none focus:outline-none focus:ring-0 focus:border-gray-200 peer"
                >
                  <option value="" selected>Visa / Mastercard</option>
                  <option value="5">5 USD</option>
                  <option value="10">10 USD</option>
                  <option value="15">15 USD</option>
                  <option value="20">20 USD</option>
                  <option value="25">25 USD</option>
                  <option value="30">30 USD</option>
                  <option value="50">50 USD</option>
                  <option value="75">75 USD</option>
                  <option value="100">100 USD</option>
                </select>
              </h2>
            </div>
          </div>
        </div>
        <SupportUsCard title={t("support_us.cryptocurrencies")+ " / Qvapay" } img="/img/bitcoin-btc-logo.svg" url="https://qvapay.com/payme/weektodo" />
        <SupportUsCard title="MLC / CUP" img="/img/creidt-card.svg" url="https://qvapay.com/payme/weektodo" />
      </div>

      <div class="flex flex-col text-center w-full">
        <h2 class="text-2xl font-bold title-font text-gray-900 my-4">{t("support_us.other_support_methods")}</h2>
      </div>

      <div class="flex flex-wrap -m-4 lg:px-16 my-6">
        <SupportUsCard title={t("support_us.sponsor_us")} img="/img/heart.svg" url="/sponsor-us" target="_self" />
        <SupportUsCard
          title={t("support_us.rate_us")}
          img="/img/star-icon.svg"
          url="https://alternativeto.net/software/weektodo/about/"
        />
        <SupportUsCard title={t("support_us.translate_the_app")} img="/img/translation.svg" url="https://github.com/manuelernestog/weektodo-web#translations" />
        <SupportUsCard title={t("support_us.development")} img="/img/dev.svg" url="https://github.com/manuelernestog/weektodo-web" />

        <div class="p-4 md:w-1/3 w-full">
          <div class="flex rounded-lg border-2 rounded-lg hover:bg-gray-100 border-gray-200 border-opacity-50 p-8 flex-col">
            <div class="flex items-center">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center flex-shrink-0">
                <img class="w-8 h-8" src="/img/share.svg" alt="share" />
              </div>
              <ShareButton />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>

  <script is:inline>
    const el = document.getElementById("visa_payment").addEventListener("change", function (e) {
      switch (this.value) {
        case "5":
          window.open("https://tppay.me/l2tkmqsd");
          break;
        case "10":
          window.open("https://tppay.me/l2tknkiy");
          break;
        case "15":
          window.open("https://tppay.me/l2tkw5vv");
          break;
        case "20":
          window.open("https://tppay.me/l2tlea38");
          break;
        case "25":
          window.open("https://tppay.me/l2tleu0m");
          break;
        case "30":
          window.open("https://tppay.me/l2tlg1s5");
          break;
        case "50":
          window.open("https://tppay.me/l2tlgpm5");
          break;
        case "75":
          window.open("https://tppay.me/l2tlh5t2");
          break;
        case "100":
          window.open("https://tppay.me/l2tlhkjb");
          break;
      }
    });
  </script>
</option>
