---
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
import ShareButton from "../components/ShareButton.astro";

import BaseLayout from "../layout/BaseLayout.astro";

changeLanguage("en");
---

<BaseLayout>
  <section class="text-gray-600 body-font">
    <div class="container lg:px-16 px-5 pt-16 pb-8 mx-auto">
      <div class="flex flex-col text-center w-full mb-8">
        <h1 class="text-4xl font-bold title-font text-gray-900 mb-3">❤️ Support WeekToDo</h1>
        <p class="lg:mx-32">
          Weektodo is a Free and open source project backed with donations of users like you! If you enjoy WeekToDo the best
          way to ensure it remains available is to make a donation. Thank you for support Weektodo.
        </p>
      </div>

      <table class="table m-auto lg:w-1/2">
        <thead>
          <tr>
            <th></th>
            <th>Donation Methods</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <div class="w-10 h-10">
                <img src="/img/creidt-card.svg" />
              </div>
            </th>
            <td>
              <label for="underline_select" class="sr-only">Underline select</label>
              <select
                id="underline_select"
                class="block py-2.5 px-0 w-full bg-transparent border-0 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer"
              >
                <option selected>Visa / Mastercard / Maestro</option>
                <option value="US">5 USD</option>
                <option value="CA">10 USD</option>
                <option value="FR">15 USD</option>
                <option value="DE">20 USD</option>
                <option value="DE">25 USD</option>
                <option value="DE">30 USD</option>
                <option value="DE">50 USD</option>
                <option value="DE">75 USD</option>
                <option value="DE">100 USD</option>
                <option value="DE">Other</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>
              <div class="w-10 h-10">
                <img src="/img/bitcoin-btc-logo.svg" />
              </div>
            </th>
            <td>Cryptocurrencies</td>
          </tr>
          <tr>
            <th>
              <div class="w-10 h-10">
                <img src="/img/qvapay.svg" />
              </div>
            </th>
            <td>Qvapay / MLC / CUP</td>
          </tr>
        </tbody>
      </table>
      <div class="flex flex-col text-center w-full mb-8">
        <h2 class="text-2xl font-bold title-font text-gray-900 my-4">Other way to support the development</h2>
      </div>

      <table class="table m-auto lg:w-1/2">
        <thead>
          <tr>
            <th></th>
            <th>Other Support Methods</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <div class="w-10 h-10">
                <img src="/img/heart.svg" />
              </div>
            </th>
            <td> Sponsor Us</td>
          </tr>
          <tr>
            <th>
              <div class="w-10 h-10">
                <img src="/img/star-icon.svg" />
              </div>
            </th>
            <td
              >Rate Us on <a class="text-sky-900 font-bold" href="https://alternativeto.net/software/weektodo/about/"
                >AlternativeTo
              </a> or <a class="text-sky-900 font-bold" href="https://github.com/manuelernestog/weektodo-web">Github</a>
            </td>
          </tr>
          <tr>
            <th>
              <div class="w-10 h-10">
                <img src="/img/translation.svg" />
              </div>
            </th>
            <td>Translate the app</td>
          </tr>
          <tr>
            <th>
              <div class="w-10 h-10">
                <img src="/img/dev.svg" />
              </div>
            </th>
            <td>Development</td>
          </tr>
          <tr>
            <th>
              <div class="w-10 h-10">
                <img src="/img/share.svg" />
              </div>
            </th>
            <td><ShareButton /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</BaseLayout>
