---
import i18next, { t } from "i18next";
import ShareButton from "../components/ShareButton.astro";
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout>
  <section class="text-gray-600 body-font">
    <div class="container lg:px-16 px-5 pt-16 pb-8 mx-auto">
      <div class="flex flex-col text-center w-full mb-8">
        <h1 class="text-4xl font-bold title-font text-gray-900 mb-3">
          ❤️ {t("support_us.support_weektodo")}
        </h1>
        <p class="lg:mx-32">{t("support_us.support_us_description")}</p>
      </div>

      <table class="table m-auto lg:w-1/2">
        <thead>
          <tr>
            <th></th>
            <th>{t("support_us.donation_methods")}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <div class="w-10 h-10">
                <img src="/img/creidt-card.svg" />
              </div>
            </th>
            <td>
              <label for="underline_select" class="sr-only">Underline select</label>
              <select
                id="underline_select"
                class="block py-2.5 px-0 w-full bg-transparent border-0 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer"
              >
                <option selected>Visa / Mastercard / Maestro</option>
                <option value="5">5 USD</option>
                <option value="10">10 USD</option>
                <option value="15">15 USD</option>
                <option value="20">20 USD</option>
                <option value="25">25 USD</option>
                <option value="30">30 USD</option>
                <option value="50">50 USD</option>
                <option value="75">75 USD</option>
                <option value="10">100 USD</option>
                <option value="Other">Other</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>
              <div class="w-10 h-10">
                <img src="/img/bitcoin-btc-logo.svg" />
              </div>
            </th>
            <td>{t("support_us.cryptocurrencies")}</td>
          </tr>
          <tr>
            <th>
              <div class="w-10 h-10">
                <img src="/img/qvapay.svg" />
              </div>
            </th>
            <td>Qvapay / MLC / CUP</td>
          </tr>
        </tbody>
      </table>
      <div class="flex flex-col text-center w-full mb-8">
        <h2 class="text-2xl font-bold title-font text-gray-900 my-4">{t("support_us.other_support_methods")}</h2>
      </div>

      <table class="table m-auto lg:w-1/2">
        <thead>
          <tr>
            <th></th>
            <th>{t("support_us.other_methods")}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <div class="w-10 h-10">
                <img src="/img/heart.svg" />
              </div>
            </th>
            <td>{t("support_us.sponsor_us")}</td>
          </tr>
          <tr>
            <th>
              <div class="w-10 h-10">
                <img src="/img/star-icon.svg" />
              </div>
            </th>
            <td
              >{t("support_us.rate_us")}
              <a class="text-sky-900 font-bold" href="https://alternativeto.net/software/weektodo/about/">AlternativeTo</a> /
              <a class="text-sky-900 font-bold" href="https://github.com/manuelernestog/weektodo-web">Github</a>
            </td>
          </tr>
          <tr>
            <th>
              <div class="w-10 h-10">
                <img src="/img/translation.svg" />
              </div>
            </th>
            <td>{t("support_us.translate_the_app")}</td>
          </tr>
          <tr>
            <th>
              <div class="w-10 h-10">
                <img src="/img/dev.svg" />
              </div>
            </th>
            <td>{t("support_us.development")}</td>
          </tr>
          <tr>
            <th>
              <div class="w-10 h-10">
                <img src="/img/share.svg" />
              </div>
            </th>
            <td><ShareButton /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</BaseLayout>
