---
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

import BaseLayout from "../layout/BaseLayout.astro";

changeLanguage("en");
---

<BaseLayout>
  <section class="text-gray-600 body-font">
    <div class="container lg:px-16 px-5 pt-24 pb-8 mx-auto">
      <div class="flex flex-col text-center w-full mb-8">
        <h1 class="text-4xl font-bold title-font text-gray-900 mb-3">❤️ Support WeekToDo</h1>
        <p class="lg:mx-32">
          Weektodo is a Free and open source project backed with donations of users like you! If you enjoy WeekToDo the best
          way to ensure it remains available is to make a donation. Thank you for using Weektodo.
        </p>
      </div>

      <div class="overflow-x-auto m-auto lg:w-1/2 md:w-2/3">
        <table class="table w-full">
          <!-- head -->
          <thead>
            <tr>
              <th></th>
              <th>Payment Method</th>
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->
            <tr>
              <th>
                <div class="w-10 h-10">
                  <img src="/img/creidt-card.svg" />
                </div>
              </th>
              <td>
                <label for="underline_select" class="sr-only">Underline select</label>
                <select
                  id="underline_select"
                  class="block py-2.5 px-0 w-full bg-transparent border-0 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer"
                >
                  <option selected>Visa / Mastercard / Maestro</option>
                  <option value="US">5 USD</option>
                  <option value="CA">10 USD</option>
                  <option value="FR">15 USD</option>
                  <option value="DE">20 USD</option>
                  <option value="DE">25 USD</option>
                  <option value="DE">30 USD</option>
                  <option value="DE">50 USD</option>
                  <option value="DE">75 USD</option>
                  <option value="DE">100 USD</option>
                  <option value="DE">Other</option>
                </select>
              </td>
            </tr>
            <!-- row 2 -->
            <tr>
              <th>
                <div class="w-10 h-10">
                  <img src="/img/bitcoin-btc-logo.svg" />
                </div>
              </th>
              <td>Cryptocurrencies</td>
            </tr>
            <!-- row 3 -->
            <tr>
              <th>
                <div class="w-10 h-10">
                  <img src="/img/qvapay.svg" />
                </div>
              </th>
              <td>Qvapay / MLC / CUP</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</BaseLayout>
