<footer class="text-gray-600 bg-gray-50 body-font mt-8">
  <div class="container mx-auto lg:px-24 px-5 py-8 flex items-center sm:flex-row flex-col">
    <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <img src="/logo.svg" class="w-10 h-10 p-2" />
        <span class="ml-2 text-xl">Weektodo</span>
      </a>
      <p class="mt-2 text-sm text-gray-500">Free & Open Source Minimalist Weekly Planner and To Do list App</p>
    </div>
    <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Weektodo</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-gray-600 hover:text-gray-800" href="">Download</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800" href="">Web Planner</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Suport Us</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Sponsor Us</a>
          </li>
         </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Project</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-gray-600 hover:text-gray-800" href="/about">About</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Blog</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800" href="/changelog">Changelog</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800" href="#">Roadmap</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Connect</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-gray-600 hover:text-gray-800">Contact Us</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Bug Report</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Get Involved</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Legal</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-gray-600 hover:text-gray-800">License</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Privacy Statement</a>
          </li>
        </nav>
      </div>
    </div>
  </div>
  <div class="bg-gray-50">
    <div class="container m-auto lg:px-24 px-5 py-8 flex items-center sm:flex-row flex-col border-t-[1px] border-gray-300">
      <p class="text-gray-500 text-sm text-center sm:text-left">
        © 2022 Weektodo — Made with 💚 by
        <a
          href="https://manuelernestog.github.io"
          rel="noopener noreferrer"
          class="text-gray-600 ml-1 keychainify-checked"
          target="_blank">@manuelernestog</a
        >
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
        <a class="text-gray-500"> </a>

        <a class="text-gray-500" href="https://twitter.com/weektodo">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M23.643 4.937c-.835.37-1.732.62-2.675.733a4.67 4.67 0 0 0 2.048-2.578a9.3 9.3 0 0 1-2.958 1.13a4.66 4.66 0 0 0-7.938 4.25a13.229 13.229 0 0 1-9.602-4.868c-.4.69-.63 1.49-.63 2.342A4.66 4.66 0 0 0 3.96 9.824a4.647 4.647 0 0 1-2.11-.583v.06a4.66 4.66 0 0 0 3.737 4.568a4.692 4.692 0 0 1-2.104.08a4.661 4.661 0 0 0 4.352 3.234a9.348 9.348 0 0 1-5.786 1.995a9.5 9.5 0 0 1-1.112-.065a13.175 13.175 0 0 0 7.14 2.093c8.57 0 13.255-7.098 13.255-13.254c0-.2-.005-.402-.014-.602a9.47 9.47 0 0 0 2.323-2.41l.002-.003Z"
            ></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500" href="mailto:contact@weektodo.me">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-.4 4.25l-7.07 4.42c-.32.2-.74.2-1.06 0L4.4 8.25a.85.85 0 1 1 .9-1.44L12 11l6.7-4.19a.85.85 0 1 1 .9 1.44z"
            ></path>
          </svg>
        </a>

        <a class="ml-3 text-gray-500" href="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=291402&theme=dark">
          <svg class="w-5 h-5" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
            ><path fill="currentColor" d="M13.337 9h-2.838v3h2.838a1.501 1.501 0 1 0 0-3z"></path><path
              fill="currentColor"
              d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2zm1.337 12h-2.838v3H8.501V7h4.837a3.498 3.498 0 0 1 3.499 3.499a3.499 3.499 0 0 1-3.5 3.501z"
            ></path>
          </svg>
        </a>

        <a class="ml-3 text-gray-500" href="https://github/manuelernestog/weektodoweb">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"
            ><path
              fill="currentColor"
              d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5C64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9c26.4 39.1 77.9 32.5 104 26c5.7-23.5 17.9-44.5 34.7-60.8c-140.6-25.2-199.2-111-199.2-213c0-49.5 16.3-95 48.3-131.7c-20.4-60.5 1.9-112.3 4.9-120c58.1-5.2 118.5 41.6 123.2 45.3c33-8.9 70.7-13.6 112.9-13.6c42.4 0 80.2 4.9 113.5 13.9c11.3-8.6 67.3-48.8 121.3-43.9c2.9 7.7 24.7 58.3 5.5 118c32.4 36.8 48.9 82.7 48.9 132.3c0 102.2-59 188.1-200 212.9a127.5 127.5 0 0 1 38.1 91v112.5c.8 9 0 17.9 15 17.9c177.1-59.7 304.6-227 304.6-424.1c0-247.2-200.4-447.3-447.5-447.3z"
            ></path>
          </svg>
        </a>
      </span>
    </div>
  </div>
</footer>
