<div class="drawer-side">
  <label for="my-drawer-3" class="drawer-overlay"></label> 
  <ul class="menu p-4 overflow-y-auto w-80 bg-base-100">
    <!-- Sidebar content here -->
    <li><a>Sidebar Item 1</a></li>
    <li><a>Sidebar Item 2</a></li>
    
  </ul>
  
</div>