---
import { t } from "i18next";
---

<section class="text-gray-600 body-font">
  <div class="container mx-auto lg:px-24 px-5 flex md:flex-row flex-col items-center pb-10">
    <div class="order-2 md:order-1 md:w-1/2 md:px-0 mb-10 md:mb-0 px-10">
      <img
        width="720"
        height="600"
        class="object-cover w-full h-auto object-center rounded lg:max-w-lg mx-auto"
        alt="weektodo feature"
        src="/Splash-v2-3.webp"
      />
    </div>
    <div class="order-1 md:order-2 lg:flex-grow flex flex-col md:text-left items-center text-center">
      <div class="max-w-lg mx-10">
        <h2 class="title-font sm:text-4xl text-3xl mb-4 font-extrabold text-gray-900">
          {t("home.block3_title")}
        </h2>
        <p class="mb-8 leading-relaxed text-gray-500">
          {t("home.block3_desc")}
        </p>
      </div>
    </div>
  </div>
</section>
