---
import { t } from "i18next";
import { localizePath } from "astro-i18next";
---

<section class="text-gray-600 body-font">
  <div class="container mx-auto lg:px-24 px-5 flex py-12 md:flex-row flex-col items-center justify-center lg:gap-24">
    <div class="lg:flex-grow md:w-1/2 flex flex-col md:items-start md:text-left mb-16 md:mb-0 md:max-w-lg items-center text-center">
      <h2 class="title-font sm:text-4xl text-3xl mb-4 font-bold text-gray-900">
        {t("home.block4_title")}
      </h2>
      <p class="mb-8 leading-relaxed">
        {t("home.block4_desc")}
      </p>
      <div class="flex justify-center">
        <a
          href={localizePath("/download")}
          class="inline-flex text-white bg-sky-700 border-0 py-2 px-6 focus:outline-none hover:bg-sky-800 rounded-full text-lg"
          >{t("home.download_now")}</a
        >
        <a
          href="https://app.weektodo.me/"
          class="ml-4 inline-flex text-gray-700 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded-full text-lg"
          >{t("ui.get_started")}</a
        >
      </div>
    </div>
    <div class="lg:max-w-lg md:w-1/2 w-5/6">
      <img width="600" height="375" class="object-cover w-full h-auto object-center rounded" alt="weektodo rocket" src="/rocket.webp" />
    </div>
  </div>
</section>
