<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 pb-10 items-center justify-center flex-col">
    <div class="text-center w-full mb-12">
      <h1 class="title-font sm:text-6xl text-4xl mb-4 font-bold text-gray-900 px-5">
        Free Minimalist Weekly Planner Focused on Privacy
      </h1>
      <p class="mb-8 leading-relaxed">
        The key is not to prioritize what’s on your schedule, but to schedule your priorities.
      </p>
      <div class="flex justify-center">
        <button
          class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
          >Download Now</button
        >
        <button
          class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg"
          >Get Started</button
        >
      </div>
    </div>
    <img
    class="px-2 md:w-5/6 mb-10 object-center"
    alt="hero"
    src="/weektodo-screenshot.png"
  />
  </div>
</section>
