<div class="bg-gray-50">
  <section class="container mx-auto lg:px-10 px-5 text-gray-600 body-font">
    <div class="mx-auto flex pt-16 md:pt-28 pb-0 items-center justify-center flex-col">
      <div class="text-center w-full ">
        <h1 class="title-font sm:text-6xl text-4xl mb-5 font-extrabold text-gray-900 px-5">
          The Minimalist <span class="gradient-text">Weekly Planner</span>
          <br /> focused on
          <span id="typed" class="gradient-text"></span>
          <div id="hero-alternative-text">
            <p>Efectivennes</p>
            <p>Simplicity</p>
            <p>Privacy</p>
          </div>
        </h1>
        <p class="mb-8 leading-relaxed lg:mx-60">
          Weektodo is a Free and Open Source Weekly Planner. Stop prioritizing what’s on your schedule and start scheduling your priorities.
        </p>
        <div class="flex justify-center">
          <button
            class="inline-flex text-white bg-sky-700 border-0 py-2 px-6 focus:outline-none hover:bg-sky-800 rounded text-lg"
            >Download Now</button
          >
          <button
            class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg"
            >Get Started</button
          >
        </div>
      </div>
    </div>
    <img
      class="px-2 object-center mx-auto relative "
      alt="hero"
      src="weektodo-preview.webp"
    />
  </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12" is:inline></script>
<script is:inline>
  var typed = new Typed("#typed", {
    stringsElement: "#hero-alternative-text",
    typeSpeed: 55,
    showCursor: true,
    backDelay: 1000,
    backSpeed: 15,
    onComplete: (arrayPos, self) => {
      document.querySelector(".typed-cursor").style.display = 'none'
    },
  });
</script>

<style is:global>
  .gradient-text {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(135deg, #655d99, #352e7a);
  }
</style>
