<div class="bg-gray-50">
  <section class="container mx-auto lg:px-10 px-5 text-gray-600 body-font">
    <div class="mx-auto flex pt-16 md:pt-28 pb-0 items-center justify-center flex-col">
      <div class="text-center w-full mb-8">
        <h1 class="title-font sm:text-6xl text-4xl mb-5 font-extrabold text-gray-900 px-5">
          Free Minimalist <span class="gradient-text">Weekly Planner</span>
          <br /> for <span class="gradient-text">Effective</span> People
        </h1>
        <p class="mb-8 leading-relaxed">
          The key is not to prioritize what’s on your schedule, but to schedule your priorities.
        </p>
        <div class="flex justify-center">
          <button
            class="inline-flex text-white bg-sky-700 border-0 py-2 px-6 focus:outline-none hover:bg-sky-800 rounded text-lg"
            >Download Now</button
          >
          <button
            class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg"
            >Get Started</button
          >
        </div>
      </div>
    </div>
    <img class="px-2 md:w-[75%]  object-center mx-auto relative " alt="hero" src="https://weektodo.me/assets/images/screenshot-from-2021-04-01-00-19-42-1-1206x580.png" />
  </section>
 
</div>

<!-- <svg
  class="left-full transform -translate-y-3/4 z-index-0"
  width="500"
  height="500"
  fill="none"
  ><defs
    ><pattern id="d2a68204-c383-44b1-b99f-42ccff4e5365" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse"
      ><rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
    </pattern>
  </defs><rect width="500" height="500" fill="url(#d2a68204-c383-44b1-b99f-42ccff4e5365)"></rect>
</svg> -->

<style>
  .gradient-text {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(135deg, #655d99, #352e7a);
  }
</style>
