---
import i18next, { t, changeLanguage } from "i18next";
import BaseLayout from "../../layout/BaseLayout.astro";

changeLanguage("es");
---

<BaseLayout title={t("download.download")} description={t("download.description")}>
  <section class="text-gray-600 body-font">
    <div class="container lg:px-16 px-5 pt-16 pb-8 mx-auto">
      <div class="flex flex-col text-center w-full mb-8">
        <h1 class="text-4xl font-bold title-font text-gray-900 mb-3">{t("download.download")}</h1>
        <p>
          {t("download.current_version")}
          <a class="text-gray-700 font-bold" href="/changelog">2.2.0</a>
        </p>
      </div>
      <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="p-5 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 rounded-lg p-10 mb-10">
            <svg class="m-auto" width="4rem" height="4rem" preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15"
              ><path
                fill="currentColor"
                d="m.5 3.5l-.105-.489A.5.5 0 0 0 0 3.5h.5Zm14-3h.5a.5.5 0 0 0-.605-.489L14.5.5Zm0 14l-.07.495A.5.5 0 0 0 15 14.5h-.5Zm-14-2H0a.5.5 0 0 0 .43.495L.5 12.5Zm.105-8.511l14-3l-.21-.978l-14 3l.21.978ZM14 .5v14h1V.5h-1Zm.57 13.505l-14-2l-.14.99l14 2l.14-.99ZM1 12.5v-9H0v9h1ZM.5 8h14V7H.5v1ZM6 2v11h1V2H6Z"
              ></path>
            </svg>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Windows</h2>
            <p class="leading-relaxed text-base">{t("download.windows_desc")}</p>
            <a
              href="https://github.com/manuelernestog/weektodo/releases/download/v2.2.0/WeekToDo-Setup-2.2.0.exe"
              class="download-link flex mx-auto mt-6 text-white bg-sky-700 border-0 py-2 w-fit px-5 focus:outline-none hover:bg-sky-800 rounded-full"
              >64-bit {t("download.installer")}</a
            >
          </div>
        </div>

        <div class="p-5 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 rounded-lg p-10 mb-10">
            <svg class="m-auto inline" width="4rem" height="4rem" preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15"
              ><path
                fill="none"
                stroke="currentColor"
                d="M7.825 3.241a.343.343 0 0 1-.343-.342A2.399 2.399 0 0 1 9.881.5c.19 0 .342.154.342.343A2.399 2.399 0 0 1 7.825 3.24Zm5.003 7.216c.132.099.175.28.1.427c-1.205 2.414-2.168 3.616-3.047 3.616c-.409 0-.811-.132-1.203-.39a1.782 1.782 0 0 0-1.895-.041c-.474.284-.927.431-1.356.431C4.133 14.5 2 10.518 2 8.332C2 6 3.223 4.22 5.084 4.22c.875 0 1.631.13 2.266.39c.269.112.573.104.836-.022c.515-.248 1.194-.368 2.038-.368c1.03 0 1.926.513 2.672 1.508a.343.343 0 0 1-.068.48c-.833.624-1.234 1.326-1.234 2.124c0 .799.401 1.5 1.234 2.125Z"
              ></path>
            </svg>
            <div class="dropdown dropdown-hover">
              <label
                tabindex="0"
                class="mr-[-40px] mb-10 border-2 font-bold border-gray-400 text-xs px-[0.55rem] py-1 top-[-25px] rounded-full text-gray-400 relative"
                >i</label
              >
              <ul tabindex="0" class="dropdown-content menu mt-[-23px] p-2 shadow bg-base-100 rounded-box w-52">
                {t("download.macos_warning")}
                {t("download.check_it_out")}
                <a
                  class="underline"
                  target="_blank"
                  href="https://support.apple.com/guide/mac-help/open-a-mac-app-from-an-unidentified-developer-mh40616/mac"
                  >{t("download.mac_page")}</a
                >
              </ul>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">macOS</h2>
            <p class="leading-relaxed text-base">{t("download.mac_desc")}</p>
            <div class="flex flex-wrap justify-center">
              <a
                href="https://github.com/manuelernestog/weektodo/releases/download/v2.2.0/WeekToDo-2.2.0.dmg"
                class="download-link flex w-fit mt-6 text-white bg-sky-700 border-0 py-2 px-5 mx mx-2 focus:outline-none hover:bg-sky-800 rounded-full"
                >.dmg</a
              >
              <a
                href="https://github.com/manuelernestog/weektodo/releases/download/v2.2.0/WeekToDo-2.2.0.pkg"
                class="download-link flex w-fit mt-6 text-white bg-sky-700 border-0 py-2 px-5 mx-2 focus:outline-none hover:bg-sky-800 rounded-full"
                >pkg {t("download.installer")}</a
              >
            </div>
          </div>
        </div>
        <div class="p-5 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 rounded-lg p-10 mb-10">
            <svg class="m-auto" width="4rem" height="4rem" preserveAspectRatio="xMidYMid meet" viewBox="0 0 2048 2048"
              ><path
                fill="currentColor"
                d="M1700 1428q32 14 48 38t23 58q4 20 9 37t12 32t16 29t24 31q13 14 23 36t10 42q0 23-12 39t-30 28q-23 16-48 28t-50 25q-41 20-71 42t-60 56q-16 18-36 35t-44 32t-49 22t-50 9q-58 0-96-20t-66-73q-8-15-16-19t-26-7q-51-4-101-8t-102-4q-42 0-86 7t-87 17q-9 2-18 15t-25 29t-43 28t-71 13q-33 0-71-7t-68-23q-62-31-122-42t-127-20q-23-3-44-8t-37-17t-25-28t-10-45q0-31 8-60t9-61q0-22-3-43t-4-45q0-51 24-75t70-38q22-7 38-19t30-26t26-31t27-34q3-4 3-9q0-12-1-23t-2-24q0-68 21-137t55-135t76-127t83-113q58-74 87-154t30-174q0-40-4-79t-4-80q0-80 18-144t56-110t99-69t146-25q101 0 161 40t92 105t41 145t10 162v17q0 41 1 73t8 63t21 62t42 67q48 63 98 127t91 132t67 142t27 160q0 69-21 133zM861 386q14 0 23 7t14 19t7 24t2 25q0 10-3 16t-9 11t-12 10t-12 12q-7 11-19 18t-23 15t-20 17t-9 25q0 9 9 15q24 16 34 39t22 45t31 37t59 15h6q40-2 76-21t72-40q5-3 13-6t13-7l73-57q2-7 3-13t2-14q0-11-5-18t-12-12t-17-7t-18-5q-24-5-45-18t-44-20q-4-1-6-6t-4-12t-1-13t-1-10q0-12 2-25t9-25t16-18t26-7q31 0 45 23t15 50q0 13-5 23t-5 22q0 8 5 11t13 4q23 0 30-11t8-33q0-23-4-51t-16-52t-31-40t-49-16q-52 0-75 26t-24 78q0 15 2 30t2 30q0 5-1 5t-6-2t-12-5t-15-5t-16-2q-2 0-10 1t-16 1q-14 0-14-5q0-15-2-38t-10-46t-20-38t-36-16q-17 0-29 11t-21 26t-11 34t-4 32q0 6 2 21t7 31t11 28t14 12q5 0 13-7t8-13q0-3-3-4t-6-1q-7 0-12-7t-8-16t-6-19t-2-15q0-20 9-36t33-17zM643 1943q24 0 47-4t43-16t30-31t12-48q0-18-6-35t-17-32q-12-19-26-36t-26-36q-19-28-37-55t-36-57q-16-26-30-52t-34-51q-12-15-28-27t-37-12q-22 0-38 14t-33 34t-38 39t-54 30q-26 8-40 22t-14 43q0 20 3 40t4 40q0 27-8 51t-8 47q0 27 19 38t43 15q30 5 57 8t53 9t52 13t55 22q6 3 18 7t27 9t28 8t19 3zm366-120q28 0 60-6t64-17t61-26t52-33q2-2 4-6t3-8v-1q6-22 10-48t7-53t7-53t7-51q4-27 10-52t16-47t27-39t44-32v-2l-1-3q0-9 6-19t15-21t19-17t21-10q-6-24-13-48t-12-48q-6-36-12-61t-14-46t-23-41t-37-48q-11-13-15-20t-6-25q-1-7-6-26t-13-44t-18-52t-22-49t-22-37t-21-15q-24 0-57 19t-70 42t-72 43t-63 19q-30 0-55-19t-46-44t-35-43t-21-20q-8 0-9 12t-1 27v17q0 6-2 8q-11 23-24 45t-26 45t-20 47t-8 50q0 15 2 30t10 29l-2 4q-8 11-17 20t-17 21q-37 55-52 119t-16 130q0 17 2 34t2 34q0 5-1 11t-1 11q17 1 40 14t50 33t51 46t46 51t32 50t13 41q0 26-16 42t-40 26q17 30 42 51t54 34t63 19t66 6zm401 142q21 0 41-6q31-9 57-26t48-42q27-31 57-54t68-42q17-8 33-15t33-17q11-7 21-17t10-24q0-8-3-15t-9-15q-15-21-26-39t-19-38t-16-40t-14-45q-1-5-7-13q-21-30-59-30q-18 0-34 9t-34 19t-36 19t-38 9q-20 0-33-10t-22-27t-15-33t-12-33q-8 13-18 24t-16 26q-13 30-16 67q-5 58-13 113t-27 110q-5 16-8 35t-4 37q0 49 30 81t81 32z"
              ></path>
            </svg>

            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Linux</h2>
            <p class="leading-relaxed text-base">{t("download.linux_desc")}</p>
            <div class="flex flex-wrap justify-center">
              <a
                href="https://github.com/manuelernestog/weektodo/releases/download/v2.2.0/WeekToDo_2.2.0_amd64.deb"
                class="download-link flex mt-6 w-fit text-white bg-sky-700 border-0 py-2 px-5 mx-2 focus:outline-none hover:bg-sky-800 rounded-full"
                >.deb</a
              >
              <a
                href="https://github.com/manuelernestog/weektodo/releases/download/v2.2.0/WeekToDo-2.2.0.x86_64.rpm"
                class="download-link flex mt-6 w-fit text-white bg-sky-700 border-0 py-2 px-5 mx-2 focus:outline-none hover:bg-sky-800 rounded-full"
                >.rpm</a
              >
              <a
                href="https://github.com/manuelernestog/weektodo/releases/download/v2.2.0/WeekToDo-2.2.0.pacman"
                class="download-link flex mt-6 w-fit text-white bg-sky-700 border-0 py-2 px-5 mx-2 focus:outline-none hover:bg-sky-800 rounded-full"
                >.pacman</a
              >
              <a
                href="https://snapcraft.io/weektodo"
                target="_blank"
                class="download-link flex mt-6 w-fit text-white bg-sky-700 border-0 py-2 px-5 mx-2 focus:outline-none hover:bg-sky-800 rounded-full"
                >Snap</a
              >
              <a
                href="https://github.com/manuelernestog/weektodo/releases/download/v2.2.0/WeekToDo-2.2.0.AppImage"
                class="download-link flex mt-6 w-fit text-white bg-sky-700 border-0 py-2 px-5 mx mx-2 focus:outline-none hover:bg-sky-800 rounded-full"
                >AppImage</a
              >
            </div>
          </div>
        </div>

        <div class="p-5 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 rounded-lg p-10 mb-10">
            <svg width="4rem" height="4rem" class="m-auto" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"
              ><path
                fill="currentColor"
                d="M928 512.3v-.3c0-229.8-186.2-416-416-416S96 282.2 96 512v.4c0 229.8 186.2 416 416 416s416-186.2 416-416v-.3v.2zm-6.7-74.6l.6 3.3l-.6-3.3zM676.7 638.2c53.5-82.2 52.5-189.4-11.1-263.7l162.4-8.4c20.5 44.4 32 93.8 32 145.9c0 185.2-144.6 336.6-327.1 347.4l143.8-221.2zM512 652.3c-77.5 0-140.2-62.7-140.2-140.2c0-77.7 62.7-140.2 140.2-140.2S652.2 434.5 652.2 512S589.5 652.3 512 652.3zm369.2-331.7l-3-5.7l3 5.7zM512 164c121.3 0 228.2 62.1 290.4 156.2l-263.6-13.9c-97.5-5.7-190.2 49.2-222.3 141.1L227.8 311c63.1-88.9 166.9-147 284.2-147zM102.5 585.8c26 145 127.1 264 261.6 315.1C229.6 850 128.5 731 102.5 585.8zM164 512c0-55.9 13.2-108.7 36.6-155.5l119.7 235.4c44.1 86.7 137.4 139.7 234 121.6l-74 145.1C302.9 842.5 164 693.5 164 512zm324.7 415.4c4 .2 8 .4 12 .5c-4-.2-8-.3-12-.5z"
              ></path>
            </svg>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">{t("download.web_browser")}</h2>
            <p class="leading-relaxed text-base">{t("download.browser_desc")}</p>
            <div class="flex flex-wrap justify-center">
              <a
                href="https://app.weektodo.me"
                target="_blank"
                class="flex mt-6 text-white w-fit bg-sky-700 border-0 py-2 px-5 mx mx-2 focus:outline-none hover:bg-sky-800 rounded-full"
                >{t("download.open_on_web")}</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="flex text-center w-full my-8">
        <a class="m-auto" href="https://github.com/manuelernestog/weektodo/releases"
          >{t("download.get_old_versions")} <span class="font-bold">Github</span>
        </a>
      </div>
    </div>
  </section>

  <div class="modal">
    <div class="modal-box relative p-10 pb-0 lg:w-[700px] max-w-none container mx-auto">
      <label for="my-modal-3" class="btn close-modal-btn btn-sm btn-outline btn-circle absolute border-none right-5 top-4"
        >✕</label
      >
      <div class="flex flex-wrap md:justify-between">
        <div class="w-full">
          <h3 class="text-xl font-bold justify-center items-center text-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1.4em"
              height="1.4em"
              class="inline m-auto mb-1"
              preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 24 24"
              ><path
                fill="currentColor"
                d="m12.1 18.55l-.1.1l-.11-.1C7.14 14.24 4 11.39 4 8.5C4 6.5 5.5 5 7.5 5c1.54 0 3.04 1 3.57 2.36h1.86C13.46 6 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5c0 2.89-3.14 5.74-7.9 10.05M16.5 3c-1.74 0-3.41.81-4.5 2.08C10.91 3.81 9.24 3 7.5 3C4.42 3 2 5.41 2 8.5c0 3.77 3.4 6.86 8.55 11.53L12 21.35l1.45-1.32C18.6 15.36 22 12.27 22 8.5C22 5.41 19.58 3 16.5 3Z"
              ></path>
            </svg>
            {t("download.pwyc")}
          </h3>
          <p class="py-4 text-center">
            {t("download.support_form_desc")}
          </p>
        </div>

        <div class="w-full pt-4">
          <iframe
            id="kofiframe"
            src="https://ko-fi.com/weektodo/?hidefeed=true&widget=true&embed=true&preview=true"
            style="border:none;width:100%;"
            height="650"
            title="weektodo"></iframe>
        </div>
      </div>

      <!-- <select id="amount" class="select select-bordered select-lg w-full my-3">
        <option value="5">$5.00</option>
        <option selected value="10">$10.00</option>
        <option value="15">$15.00</option>
        <option value="20">$20.00</option>
        <option value="25">$25.00</option>
        <option value="30">$30.00</option>
        <option value="50">$50.00</option>
        <option value="75">$75.00</option>
        <option value="100">$100.00</option>
      </select>

      <div class="flex flex-wrap justify-center">
        <a
          id="card-payment"
          class="cursor-pointer flex mt-6 text-white w-fit bg-sky-700 border-0 py-2 px-4 mx mx-2 focus:outline-none hover:bg-sky-800 rounded-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1.25em"
            height="1em"
            class="m-auto mr-2"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 1920 1536"
            ><path
              fill="currentColor"
              d="M1760 0q66 0 113 47t47 113v1216q0 66-47 113t-113 47H160q-66 0-113-47T0 1376V160Q0 94 47 47T160 0h1600zM160 128q-13 0-22.5 9.5T128 160v224h1664V160q0-13-9.5-22.5T1760 128H160zm1600 1280q13 0 22.5-9.5t9.5-22.5V768H128v608q0 13 9.5 22.5t22.5 9.5h1600zM256 1280v-128h256v128H256zm384 0v-128h384v128H640z"
            ></path>
          </svg>
          {t("download.pay_with_card")}</a
        >
        <a
          id="cripto-payment"
          class="cursor-pointer flex mt-6 text-white w-fit bg-sky-700 border-0 py-2 px-4 mx mx-2 focus:outline-none hover:bg-sky-800 rounded-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1.5em"
            height="1.5em"
            class="m-auto mr-2"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="m11.953 8.819l-.547 2.19c.619.154 2.529.784 2.838-.456c.322-1.291-1.673-1.579-2.291-1.734zm-.822 3.296l-.603 2.415c.743.185 3.037.921 3.376-.441c.355-1.422-2.029-1.789-2.773-1.974z"
            ></path><path
              fill="currentColor"
              d="M14.421 2.299C9.064.964 3.641 4.224 2.306 9.581C.97 14.936 4.23 20.361 9.583 21.697c5.357 1.335 10.783-1.924 12.117-7.281c1.336-5.356-1.924-10.781-7.279-12.117zm1.991 8.275c-.145.974-.686 1.445-1.402 1.611c.985.512 1.485 1.298 1.009 2.661c-.592 1.691-1.998 1.834-3.87 1.48l-.454 1.82l-1.096-.273l.447-1.794a44.624 44.624 0 0 1-.875-.228l-.449 1.804l-1.095-.275l.454-1.823c-.257-.066-.517-.136-.782-.202L6.87 15l.546-1.256s.808.215.797.199c.311.077.448-.125.502-.261l.719-2.875l.115.029a.864.864 0 0 0-.114-.037l.512-2.053c.013-.234-.066-.528-.511-.639c.018-.011-.797-.198-.797-.198l.291-1.172l1.514.378l-.001.005c.227.057.461.111.7.165l.449-1.802l1.097.273l-.44 1.766c.294.067.591.135.879.207l.438-1.755l1.097.273l-.449 1.802c1.384.479 2.396 1.195 2.198 2.525z"
            ></path>
          </svg>
          {t("download.pay_with_crypto")} / Qvapay</a
        >
        <a
          href="/weektodo_donate.webp"
          target="_blank"
          class="flex mt-6 text-white w-fit bg-sky-700 border-0 py-2 px-4 mx mx-2 focus:outline-none hover:bg-sky-800 rounded-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1.25em"
            height="1em"
            class="m-auto mr-2"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 1920 1536"
            ><path
              fill="currentColor"
              d="M1760 0q66 0 113 47t47 113v1216q0 66-47 113t-113 47H160q-66 0-113-47T0 1376V160Q0 94 47 47T160 0h1600zM160 128q-13 0-22.5 9.5T128 160v224h1664V160q0-13-9.5-22.5T1760 128H160zm1600 1280q13 0 22.5-9.5t9.5-22.5V768H128v608q0 13 9.5 22.5t22.5 9.5h1600zM256 1280v-128h256v128H256zm384 0v-128h384v128H640z"
            ></path>
          </svg>
          MLC / CUP</a
        >
        <a
          class="cursor-pointer close-modal-btn flex mt-6 text-white w-fit bg-gray-400 border-0 py-2 px-5 mx mx-2 focus:outline-none hover:bg-gray-500 rounded-full"
          >{t("download.no_thanks")}</a
        >
      </div> -->
    </div>
  </div>
</BaseLayout>

<script is:inline>
  document.querySelectorAll(".download-link").forEach((downloadLink) => {
    downloadLink.addEventListener("click", () => {
      document.querySelector(".modal").classList.add("visible-modal");
    });
  });
  document.querySelectorAll(".close-modal-btn").forEach((closeBtn) => {
    closeBtn.addEventListener("click", () => {
      document.querySelector(".modal").classList.remove("visible-modal");
    });
  });

  // var amount = document.querySelector("#amount");

  // document.querySelector("#card-payment").addEventListener("click", () => {
  //   switch (amount.value) {
  //     case "5":
  //       window.open("https://tppay.me/l2tkmqsd", "_blank");
  //       break;
  //     case "10":
  //       window.open("https://tppay.me/l2tknkiy", "_blank");
  //       break;
  //     case "15":
  //       window.open("https://tppay.me/l2tkw5vv", "_blank");
  //       break;
  //     case "20":
  //       window.open("https://tppay.me/l2tlea38", "_blank");
  //       break;
  //     case "25":
  //       window.open("https://tppay.me/l2tleu0m", "_blank");
  //       break;
  //     case "30":
  //       window.open("https://tppay.me/l2tlg1s5", "_blank");
  //       break;
  //     case "50":
  //       window.open("https://tppay.me/l2tlgpm5", "_blank");
  //       break;
  //     case "75":
  //       window.open("https://tppay.me/l2tlh5t2", "_blank");
  //       break;
  //     case "100":
  //       window.open("https://tppay.me/l2tlhkjb", "_blank");
  //       break;
  //   }
  // });

  // document.querySelector("#cripto-payment").addEventListener("click", () => {
  //   window.open("https://qvapay.com/payme/weektodo/" + amount.value, "_blank");
  // });
</script>

<style>
  .visible-modal {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
  }
</style>
